<a href="https://colab.research.google.com/github/Akshat-0001/Google-Colab.PythonExample/blob/main/PythonIntroEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#-------------------------------------------
#1.1: Displaying Hello World ||
#-------------------------------------------
print('''Hello World ||''') # To Display

Hello World ||

In [ ]:
#-------------------------------------------
#1.2: Declaring a variable and printing it ||
#-------------------------------------------
a = 300
a

300

In [ ]:
b = "Shukla"
b

'Shukla'

In [ ]:
a = 300
a
b = "Akshat"
b

'Akshat'

In [ ]:
a = 300
a
b = "Akshat"
b
print ("a -->", a) #Print the value of a
print ("b -->", b) #Print the value of b

a --> 300
b --> Akshat

In [ ]:
#-----------------------------------
# 2.1.1 Use of Arithmetic operators
#-----------------------------------
a = 7624
b = 254

c = a + b #Use of + Addition
print (a, "+", "-->", c)

c = a - b #Use of - Subtraction
print (a, "-", "-->", c)

c = a * b #Use of * Multiplication
print (a, "*", "-->", c)

c = a / b #Use of / Divison
print (a, "/", "-->", c)

c = a % b #Use of % Modulus (reminder is displayed)
print (a, "%", "-->", c)

7624 + --> 7878
7624 - --> 7370
7624 * --> 1936496
7624 / --> 30.015748031496063
7624 % --> 4

In [1]:
#---------------------------------------------------
# 2.1.2 Use of Division (/) and floor division (//)
#---------------------------------------------------
a = 4256
b = 1278

c = a / b       # Use of /
print (a, " /", b, "-->", c)

c = a // b      # Use of //
print (a, "//", b, "-->", c)

4256  / 1278 --> 3.3302034428794993
4256 // 1278 --> 3

In [3]:
#----------------------------
# 2.1.3 Use of Exponent (**)
#----------------------------
a = 2
b = 4

c = a ** b       # Use of ** (Exponent)
print (a, "**", b, "-->", c)

2 ** 4 --> 16

In [7]:
#-------------------------------
#2.2 Use of Bitwise Operators
#-------------------------------
# Use of & (and) operator
a = 0
b = 1
d = 1

c = a & b #Use of & (bitwise and)
print (a, "&", b, "-->", c)

c = d & b #Use of & (bitwise and)
print (d, "&", b, "-->", c)

0 & 1 --> 0
1 & 1 --> 1

In [ ]:
#---------------------------------
#Another example of and operator
#---------------------------------
a = 20 
b = 10 
d = 10

c = a & b #Use of & (bitwise and)
print (a, "&", b, "-->", c)

c = d & b #Use of & (bitwise and)
print (d, "&", b, "-->", c)

20 & 10 --> 0
10 & 10 --> 10

In [5]:
#-----------------------------
#2.2.2 Use of | (or) operator
#-----------------------------
a = 1
b = 0
d = 1

c = a | b      #Use of |
print (a, "|", b, "-->", c)

c = d | b      #Use of |
print (d, "|", b, "-->", c)

1 | 0 --> 1
1 | 0 --> 1

In [ ]:
#-------------------------------
#2.2.3: Use of ~ (not) operator
#-------------------------------
a = 0
b = 1

c = ~a #Use of ~
print ("~", a, "-->", c) #sign bit is used

c = ~b #Use of ~
print ("~", b, "-->", c) #sign bit is used

~ 0 --> -1
~ 1 --> -2

In [8]:
#---------------------------------
#Another example of not operator
#---------------------------------
a = 15
b = 5

c = ~a #Use of ~
print ("~", a, "-->", c) #sign bit is used

c = ~b #Use of ~
print ("~", b, "-->", c) #sign bit is used

~ 15 --> -16
~ 5 --> -6

In [9]:
#-----------------------
#Use of ^ (xor) operator
#-----------------------

a = 1
b = 0
d = 1

c = a ^ b #Use of ^
print (a, "^", b, "-->", c)

c = d ^ b #Use of ^
print (d, "^", b, "-->", c)

1 ^ 0 --> 1
1 ^ 0 --> 1

In [11]:
#--------------------------------
#Use of >> (right shift) opertors
#--------------------------------

a = 30
b = 2
d = 1

c = a >> b #Use of >>
print (a, ">>", b, "-->", c)

c = d >> b #Use of >>
print (d, ">>", b, "-->", c)

30 >> 2 --> 7
1 >> 2 --> 0

In [14]:
#--------------------------------
#Use of << (left shift) opertors
#--------------------------------

a = 10
b = 0
d = 2

c = a >> b #Use of <<
print (a, "<<", b, "-->", c)

c = d >> b #Use of <<
print (d, "<<", b, "-->", c)

10 << 0 --> 10
2 << 0 --> 2

In [ ]:
#--------------------------------------
# 2.3.1: Use of Assignment Operators
#--------------------------------------
#1. Use of +=
a = 20
print ("a  =", a)

a += 10    
print ("a += 10 -->", a)

In [ ]:
#------------------------------------------------------------------------
# 2.3.2: Use of -=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a -= 10    
print ("a -= 10 -->", a)

In [ ]:
#------------------------------------------------------------------------
# 2.3.3: Use of *=
#------------------------------------------------------------------------
a = 20
print ("a  =", a)

a *= 10
print ("a *= 10 -->", a)

In [ ]:
#------------------------------------------------------------------------
# 2.3.4: Use of /= and //=
#------------------------------------------------------------------------
a = 20
print ("\n a  =", a)

a /= 10    
print (" a /= 10  -->", a)

a = 20
print ("\n a   =", a)

a //= 10    
print (" a //= 10 -->", a)