<a href="https://colab.research.google.com/github/Akshat-0001/Google-Colab.PythonExample/blob/main/PythonIntroEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#-------------------------------------------
#1.1: Displaying Hello World ||
#-------------------------------------------
print('''Hello World!!''') # To Display

Hello World!!

In [ ]:
#-------------------------------------------
#1.2: Declaring a variable and printing it ||
#-------------------------------------------
a = 300
a

300

In [ ]:
b = "Shukla"
b

'Shukla'

In [ ]:
a = 300
a
b = "Akshat"
b

'Akshat'

In [ ]:
a = 300
a
b = "Akshat"
b
print ("a -->", a) #Print the value of a
print ("b -->", b) #Print the value of b

a --> 300
b --> Akshat

In [ ]:
#-----------------------------------
# 2.1.1 Use of Arithmetic operators
#-----------------------------------
a = 7624
b = 254

c = a + b #Use of + Addition
print (a, "+", "-->", c)

c = a - b #Use of - Subtraction
print (a, "-", "-->", c)

c = a * b #Use of * Multiplication
print (a, "*", "-->", c)

c = a / b #Use of / Divison
print (a, "/", "-->", c)

c = a % b #Use of % Modulus (reminder is displayed)
print (a, "%", "-->", c)

7624 + --> 7878
7624 - --> 7370
7624 * --> 1936496
7624 / --> 30.015748031496063
7624 % --> 4

In [ ]:
#---------------------------------------------------
# 2.1.2 Use of Division (/) and floor division (//)
#---------------------------------------------------
a = 4256
b = 1278

c = a / b       # Use of /
print (a, " /", b, "-->", c)

c = a // b      # Use of //
print (a, "//", b, "-->", c)

4256  / 1278 --> 3.3302034428794993
4256 // 1278 --> 3

In [ ]:
#----------------------------
# 2.1.3 Use of Exponent (**)
#----------------------------
a = 2
b = 4

c = a ** b       # Use of ** (Exponent)
print (a, "**", b, "-->", c)

2 ** 4 --> 16

In [ ]:
#-------------------------------
#2.2 Use of Bitwise Operators
#-------------------------------
# Use of & (and) operator
a = 0
b = 1
d = 1

c = a & b #Use of & (bitwise and)
print (a, "&", b, "-->", c)

c = d & b #Use of & (bitwise and)
print (d, "&", b, "-->", c)

0 & 1 --> 0
1 & 1 --> 1

In [3]:
#---------------------------------
#Another example of "and" operator
#---------------------------------
a = 10
b = 20
d = 10

c = a & b #Use of & (bitwise and)
print (a, "&", b, "-->", c)

c = d & b #Use of & (bitwise and)
print (d, "&", b, "-->", c)

10 & 20 --> 0
10 & 20 --> 0

In [ ]:
#-----------------------------
#2.2.2 Use of | (or) operator
#-----------------------------
a = 1
b = 0
d = 1

c = a | b      #Use of |
print (a, "|", b, "-->", c)

c = d | b      #Use of |
print (d, "|", b, "-->", c)

1 | 0 --> 1
1 | 0 --> 1

In [ ]:
#-------------------------------
#2.2.3: Use of ~ (not) operator
#-------------------------------
a = 0
b = 1

c = ~a #Use of ~
print ("~", a, "-->", c) #sign bit is used

c = ~b #Use of ~
print ("~", b, "-->", c) #sign bit is used

~ 0 --> -1
~ 1 --> -2

In [ ]:
#---------------------------------
#Another example of not operator
#---------------------------------
a = 15
b = 5

c = ~a #Use of ~
print ("~", a, "-->", c) #sign bit is used

c = ~b #Use of ~
print ("~", b, "-->", c) #sign bit is used

~ 15 --> -16
~ 5 --> -6

In [ ]:
#-----------------------
#2.2.4: Use of ^ (xor) operator
#-----------------------

a = 1
b = 0
d = 1

c = a ^ b #Use of ^
print (a, "^", b, "-->", c)

c = d ^ b #Use of ^
print (d, "^", b, "-->", c)

1 ^ 0 --> 1
1 ^ 0 --> 1

In [ ]:
#--------------------------------
#2.2.5: Use of >> (right shift) opertors
#--------------------------------

a = 30
b = 2
d = 1

c = a >> b #Use of >>
print (a, ">>", b, "-->", c)

c = d >> b #Use of >>
print (d, ">>", b, "-->", c)

30 >> 2 --> 7
1 >> 2 --> 0

In [ ]:
#--------------------------------
#2.2.6: Use of << (left shift) opertors
#--------------------------------

a = 10
b = 0
d = 2

c = a >> b #Use of <<
print (a, "<<", b, "-->", c)

c = d >> b #Use of <<
print (d, "<<", b, "-->", c)

10 << 0 --> 10
2 << 0 --> 2

In [8]:
#--------------------------------------
# 2.3 Use of Assignment Operators
#--------------------------------------
# 2.3.1: Use of +=
#--------------------------------------
a = 12
print ("a  =", a)

a += 45 
print ("a += 45 -->", a)

a  = 12
a += 45 --> 57

In [9]:
#------------------
# 2.3.2: Use of -= 
#------------------
a = 200
print ("a  =", a)

a -= 45   
print ("a -= 45 -->", a)

a  = 200
a -= 45 --> 155

In [10]:
#------------------
# 2.3.3: Use of *=
#------------------
a = 35
print ("a  =", a)

a *= 15
print ("a *= 15 -->", a)

a  = 35
a *= 15 --> 525

In [12]:
#--------------------------
# 2.3.4: Use of /= and //=
#--------------------------
a = 35
print ("\n a  =", a)

a /= 5
print (" a /= 5  -->", a)

a = 35
print ("\n a   =", a)

a //= 5   
print (" a //= 5 -->", a)

 a  = 35
 a /= 5  --> 7.0

 a   = 35
 a //= 5 --> 7

In [17]:
#-----------------------------------
# 3.1: Input from user and print it
#-----------------------------------
a = input("Enter Anything(Name/Number): ")
print("\nYour Input is           -->",a)

Enter Anything(Name/Number): Akshat 0603

Your Input is           --> Akshat 0603

In [18]:
#------------------------------
# 3.2.1: Concatenate two strings
#------------------------------
a = input("Enter First String : ")
b = input("Enter Second String: ")
c = a + b  #Concatenate two strings
print("")
print(a, "+", b, "-->", c)

Enter First String : Akshat
Enter Second String: Shukla

Akshat + Shukla --> AkshatShukla

In [19]:
#-------------------------------------------
# 3.2.2: Concatenate two strings (numbers)
#-------------------------------------------
a = input("Enter First String : ")
b = input("Enter Second String: ")
c = a + b  #Concatenate two strings
print("")
print(a, "+", b, "-->", c)

Enter First String : 52
Enter Second String: 69

52 + 69 --> 5269

In [15]:
#----------------------------------------------
# 3.3: Input two numbers from user and add them
#----------------------------------------------
a = int(input("Enter First No : "))
b = int(input("Enter Second No: "))
c = a + b
print ("")
print (a, "+", b, "-->", c)

Enter First No : 34
Enter Second No: 35

34 + 35 --> 69

In [22]:
#--------------------------------------
# 3.4.1: Concatinate String and Number
#--------------------------------------
c = "143" + "Nobody"
print ("c -->",c)

c --> 143Nobody

In [24]:
#-------------------------------------
# 3.4.2: Concatinate String and Number
#-------------------------------------
a = 143
b = "fake"
c = str(a) + b

print (a, "+", b, "-->", c)

143 + fake --> 143fake

In [26]:
#---------------------------------------------------
# 4.1: Input two numbers from user and compare them
#---------------------------------------------------
a = int(input("Enter First No: "))
b = int(input("Enter Second No: "))
if  a > b: 
    print (a,">",b)
else:
    print (a,"<",b)

Enter First No: 47
Enter Second No: 58
47 < 58

In [28]:
#-------------------------------------------
# 4.2: Check weather a number is odd or even:
#-------------------------------------------
n = int(input("Enter a Number: "))
if  n % 2 == 0: 
    print (n, "is even")
else:
    print (n, "is odd")

Enter a Number: 45
45 is odd

In [30]:
#-------------------
# 4.4.1: Use of and
#-------------------
a = 36
b = 72

if a == 10 and b == 20: 
    print ("Accepted")
elif a >= b: 
    print ("Rejected")
else:
    print ("On Hold")

On Hold

In [35]:
#-----------------
# 4.4.5: Use of or
#-----------------
a = 0
b = 1
print ("a or b -->", a or b)
print ("a  | b -->", a | b)

a or b --> 1
a  | b --> 1

In [40]:
#------------------
# 4.4.7: Use of not
#------------------
a = 0
print("a     -->", a)
print("not a -->", not a)

a     --> 0
not a --> True

In [41]:
#--------------------------------------
# 4.5: Identity Operators (is, is not)
#--------------------------------------
a = 62
b = 48
print ("a is a     -->", a is a)
print ("a is not a -->", a is not a)
print("")
print ("a is b     -->", a is b)
print ("a is not b -->", a is not b)

a is a     --> True
a is not a --> False

a is b     --> False
a is not b --> True

In [48]:
#---------------------------------------
# 4.6: Membership Operators (in, not in)
#---------------------------------------
a = [62, 74, 98]

print ("74 in a     -->",74 in a)
print ("62 in a     -->",62 in a)

print ("")
print ("52 not in a -->",52 not in a)
print ("62 not in a -->",62 not in a)

74 in a     --> True
62 in a     --> True

52 not in a --> True
62 not in a --> False

In [49]:
#Assingment 3.1: WAP to add three numbers, inputs from user and print result

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
sum = a+b+c
print(sum)

Enter first number:45
Enter second number:26
Enter third number:37
108

In [52]:
##Assingment 3.2: WAP to concatinate three strings, inputs from user and print

a = input("Enter first string:")
b = input("Enter second string:")
c = input("Enter third number:")
d = str(a) + str(b) + str(c)

print (a, "+", b, "+", c, "-->", d)

Enter first string:Akshat
Enter second string:Shukla
Enter third number:0603
Akshat + Shukla + 0603 --> AkshatShukla0603

In [55]:
#Assingment 4.1: WAP to find max among three numbers and input from user

a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
print("Greatest number among three is -->", max(a, b, c))

Enter first number:45
Enter second number:25
Enter third number:76
Greatest number among three is --> 76